/* Home Page Layout */
.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* Sidebar, MainArea, FriendSuggestions */
  gap: 20px;
  padding: 20px;
  margin-top: 70px; /* To account for the fixed header */
  flex: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.sidebar {
  grid-column: 1;
}

.main-area {
  grid-column: 2;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.friend-suggestions {
  grid-column: 3;
  padding: 10px;
}

/* Friend Suggestions Styles */
.friend-suggestions-container {
  background-color: #DDE6EC;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 250px;
  position: fixed; /* Fixed position like the sidebar */
  top: 100px; /* Aligns below the AppBar */
  right: 0px; /* Adjust position relative to the right edge */
  height: 60vh;
  overflow: hidden; /* Disable scrolling */
  margin-right: 25px;
}

.friend-suggestions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.friend-suggestions-title {
  color: #004696;
}

.friend-suggestions-link {
  font-size: 14px;
  color: #1E8EAB;
  text-decoration: underline;
  cursor: pointer;
}

/* Friend Card Styles */
.suggestion-card {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.friend-profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.friend-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.follow-button {
  margin-left: auto;
  background-color: #1E8EAB;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr; /* Stack all sections vertically on smaller screens */
  }
}
