.friend-suggestions-container {
  background-color: #F9FBFD; /* Light background for better contrast */
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 270px;
  position: fixed; /* Fixed position like the sidebar */
  top: 100px; /* Aligns below the AppBar */
  right: 10px; /* Adjust position relative to the right edge */
  height: 60vh;
  border: 1px solid #1E8EAB;
  transition: box-shadow 0.3s ease;
  overflow:hidden;
  overflow-y: auto;
}

.friend-suggestions-container:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.friend-suggestions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.friend-suggestions-title {
  color: #004696;
  font-weight: bold;
  font-size: 1.1rem;
}

.friend-suggestions-link {
  font-size: 0.9rem;
  color: #1E8EAB;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.friend-suggestions-link:hover {
  color: #004696;
}

/* Friend Card Styles */
.friend-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(103, 134, 205, 0.1);
  margin-bottom: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid #1E8EAB;
  overflow: hidden; /* Ensure no overflow from the card */
}

.friend-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.friend-card-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #004696;
}

.friend-card-username {
  flex: 1;
  color: #004696;
  font-weight: 600;
  margin-right: 10px;
}

.friend-card-actions {
  display: flex;
  align-items: center;
}

.friend-card-button {
  background-color: #1E8EAB;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
  margin-left: 5px;
}

.friend-card-button.follow {
  background-color: #1E8EAB;
}

.friend-card-button.unfollow {
  background-color: #FF6F61;
}

.friend-card-button:hover {
  background-color: #004696;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr; /* Stack all sections vertically on smaller screens */
  }
}
