.post-creator {
  border: 1px solid #ddd;
  padding: 20px; /* Adjust padding for a tighter fit */
  margin: 16px auto; /* Center the post */
  border-radius: 8px;
  background-color: #fff;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  border: 1px solid #1E8EAB; 
  
}

.post-creator-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.post-creator-user-info {
  display: flex;
  align-items: center;
}

.post-creator-username {
  font-weight: 600;
  font-size: 1.5rem;
  color: #333;
}

.post-creator-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-creator-form {
  display: flex;
  flex-direction: column;
}

.post-creator-textarea {
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  resize: none;
}

.post-creator-media-preview {
  position: relative;
  margin-bottom: 10px;
}

.post-creator-media-image,
.post-creator-media-video {
  width: 100%;
  border-radius: 8px;
}

.post-creator-media-remove-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 20px; /* Adjust size if needed */
}

.post-creator-media-remove-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.post-creator-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-creator-upload-button {
  display: flex;
  align-items: center;
  background-color: #1E8EAB; /* Secondary Blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.post-creator-submit-button {
  background-color: #004696; /* Primary Blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}
