/* index.css */

/* Light blue background */
body {
    background-color: #ffffff; /* Light cyan */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  